<li class='modal-item'>
  <image class="modal-image" src="{{image}}" alt="{{name}}" width="150" />
  <p class="modal-title">{{name}}</p>
  <ul class='socials'>
    <li class="socials__item">
      <a href="{{linkedin}}" class="socials__link">
        <svg class="socials__icon">
          <use href="./images/socials.svg#icon-linkedin"></use>
        </svg>
      </a>
    </li>
    <li class="socials__item">
      <a href="{{git}}" class="socials__link">
        <svg class="socials__icon">
          <use href="../images/socials.svg#icon-github"></use>
        </svg>
      </a>
    </li>
  </ul>
</li>